<div class='playlist-card {{this.classes}}'>
    <div class="playlist-card__wrapper" data-type="playlist" data-playlist-id="{{ this.id }}">
        <img src='{{this.thumbnail_url}}' alt='' class='playlist-card__img' />
    </div>
    <span class='playlist-card__title'>{{this.title}}</span>
    <a
        href='{{this.artists.[0].artist_page}}'
        class='playlist-card__artist'
    >{{this.artists.[0].title}}</a>
</div>