<div class='music-card {{this.classes}}'>
    <div class="music-card__wrapper" data-type="track" data-track-id="{{ this.id }}">
        <img src='{{this.thumbnail_url}}' alt='' class='music-card__img' />
        <img src="/static/img/play.svg" class="music-card__play">
    </div>
    <span class='music-card__title'>{{this.title}}</span>
    <a href="{{this.artists.0.artist_page}}" class='music-card__artist'>{{this.artists.0.title}}</a>
</div>