<div class='album-card'>
    <a href='{{this.album_page}}' style='cursor: not-allowed;'>
        <img src='{{this.thumbnail_url}}' alt='' class='album-card__img' />
        <span class='album-card__title'>{{this.title}}</span>
        <a
            href='{{this.artists.[0].artist_page}}'
            class='album-card__artist'
        >{{this.artists.[0].title}}</a>
        {{#if this.isLiked}}
            <img
                class='album-card__like'
                src='/static/img/like-active.svg'
                alt='like'
            />
        {{/if}}
    </a>
</div>