<div class="track {{#unless this.id}}track_norder{{/unless}}">
    <span class="track__index">{{index}}</span>
    <img src="{{thumbnail_url}}" alt="" class="track__img" id="track" data-id="{{ this.id }}">
    <a style="cursor: not-allowed;" href="{{this.hrefAlbum}}" class="track__title">{{this.title}}</a>
    <a href="{{this.artists.0.artist_page}}" class="track__artist">{{this.artists.0.title}}</a>
    <a style="cursor: not-allowed;" href="{{this.hrefAlbum}}" class="track__album">{{this.album}}</a>
    <span class="track__duration">{{this.duration}}</span>
    {{#if this.isLiked}}
        <img src="/static/img/like-active.svg" alt="like" class="track__like">
    {{else}}
        <img src="/static/img/like-default.svg" alt="unlike" class="track__like">
    {{/if}}
    <img src="/static/img/dots.svg" alt="more" class="track__actions">
</div>
