<div class="profile__info">
    <img class="profile__info__img" src="{{this.user.avatar_url}}" alt="error loading avatar">
    <div>
        <div class="profile__info__header">
            <h2 class="profile__info__username">{{this.user.username}}</h2>
            <img class="profile__info__actions" src="/static/img/dots.svg" alt="edit">
        </div>
        <div class="profile__info__stats">
            <span>{{#if this.user.statistics.minutes_listened includeZero=true}}
                {{this.user.statistics.minutes_listened}}{{else}}?{{/if}} минут прослушано
            </span>
            <span>{{#if this.user.statistics.tracks_listened includeZero=true}}
                {{this.user.statistics.tracks_listened}}{{else}}?{{/if}} треков услышано
            </span>
            <span>{{#if this.user.statistics.artists_listened includeZero=true}}
                {{this.user.statistics.artists_listened}}{{else}}?{{/if}} артистов изучено
            </span>
        </div>
    </div>
</div>

{{#if this.playlists }}
    {{>playlists-section title="Плейлисты" href_all="#" playlists=this.playlists }}
{{/if}}

{{#if this.tracks }}
    {{>tracks-section title="Любимые треки" href_all="/all/loved" tracks=this.tracks }}
{{/if}}

{{#if this.artists}}
    {{>artists-section title="Любимые исполнители" href_all="/all/loved-artists" artists=this.artists }}
{{/if}}