<div class='music-card {{this.classes}}'>
    <a style='cursor: not-allowed;' href='{{this.hrefAlbum}}'>
        <img src='{{this.image}}' alt='' class='music-card__img' />
        <span class='music-card__title'>{{this.title}}</span>
        <span class='music-card__artist'>{{this.artist}}</span>
    </a>
</div>