<div class="album {{#unless this.ind}}album_norder{{/unless}}">
    <span class="album__index">{{this.ind}}</span>
    <img src="{{this.img}}" alt="" class="album__img">
    <a href="{{this.hrefAlbum}}" style="cursor: not-allowed;" class="album__title">{{this.title}}</a>
    <a href="{{this.hrefArtist}}" style="cursor: not-allowed;" class="album__artist">{{this.artist}}</a>
    <span class="album__description">{{this.description}}</span>
    {{#if this.isPlaying}}
        <img src="/static/img/pause.svg" alt="pause" class="album__play">
    {{else}}
        <img src="/static/img/play.svg" alt="play" class="album__play">
    {{/if}}
    {{#if this.isLiked}}
        <img src="/static/img/like-active.svg" alt="like" class="album__like">
    {{else}}
        <img src="/static/img/like-default.svg" alt="unlike" class="album__like">
    {{/if}}
    <img src="/static/img/dots.svg" alt="more" class="album__actions">
</div>
