<div id='auth' class='auth-main'>
    <p>{{this.header}}</p>
    <div class='auth-main__line'></div>

    {{#each inputs}}
        <div class='auth-main__input-container'>
            <div class='auth-main__input-container'>
                <div class="auth-form__span-container">
                    <span>{{this.text}}</span>
                </div>
                <input
                    type='{{this.type}}'
                    placeholder='{{this.placeholder}}'
                    name='{{this.name}}'
                    class='auth-form__base-input'
                    required
                />
            </div>
            <p class='error-message' name='{{this.errorName}}'></p>
        </div>
    {{/each}}

    <p class='error-message' name='global-error'></p>
    <input type='submit' value='{{submitText}}' class='auth-form__submit-btn' />
</div>