<div id="main">
    <section id="collections"> 
        
    </section>
    <section id="recent">
        <h1>Недавно прослушанные</h1>
        <div class="cards">
            {{#each this.recent}}
                {{>card}}
            {{/each}}
        </div>
    </section>
    <section id="loved">
        <h1>Любимые треки</h1>
        <div class="cards">
            {{#each this.loved}}
                {{>card}}
            {{/each}}
        </div>
    </section>
    <section id="recommendations">
        <h1>Рекомендации</h1>
        <div class="songs">
            {{#each this.recommendations}}
                <div class="song">
                    <img src="{{this.img}}" alt="" class="song__img">

                    <a href="{{this.hrefAlbum}}" class="song__title">{{this.title}}</a>
                    <a href="{{this.hrefArtist}}" class="song__artist">{{this.artist}}</a>
                    <a href="{{this.hrefAlbum}}" class="song__album">{{this.album}}</a>

                    <span class="song__duration">{{this.duration}}</span>

                    <a class="song__like">
                        <img src="" alt="like">
                    </a>
                    <button class="song__actions">
                        <img src="" alt="more">
                    </button>
                </div>
            {{/each}}
        </div>
    </section>
</div>