<div class="song {{#unless this.ind}}song_norder{{/unless}}">
    <span class="song__index">{{this.ind}}</span>
    <img src="{{this.img}}" alt="" class="song__img">
    <a style="cursor: not-allowed;" href="{{this.hrefAlbum}}" class="song__title">{{this.title}}</a>
    <a style="cursor: not-allowed;" href="{{this.hrefArtist}}" class="song__artist">{{this.artist}}</a>
    <a style="cursor: not-allowed;" href="{{this.hrefAlbum}}" class="song__album">{{this.album}}</a>
    <span class="song__duration">{{this.duration}}</span>
    {{#if this.isLiked}}
        <img src="/static/img/like-active.svg" alt="like" class="song__like">
    {{else}}
        <img src="/static/img/like-default.svg" alt="unlike" class="song__like">
    {{/if}}
    <img src="/static/img/dots.svg" alt="more" class="song__actions">
</div>
