<div class='header__logo-container'>
    <a class='header__logo'>
        <img class='logo' src='/static/img/logo.png' alt='logo' id="logo" />
    </a>
</div>

<div class='header__main'>
    <form class='header__search' onsubmit='return false;'>
        <img class='search-icon' src='/static/img/icon-search.svg' />
        <input type='text' id='search' name='search' placeholder='поиск...' />
    </form>
    <nav class='header__nav'>
        <ul class='header-list'>
            {{#each this.navItems}}
                <li class='item'>
                    <a href='{{this.href}}'>
                        <img class='header__icon' src='{{this.icon}}' />
                        <span class='header__span'>{{this.text}}</span>
                    </a>
                </li>
            {{/each}}
        </ul>
    </nav>
    {{#if this.user}}
        <div class='header__profile'>
            <img
                class='profile__img'
                src='{{this.user.avatar_url}}'
                alt='profile'
            />
            <div class='profile__dropdown'>
                <div>
                    <div class="profile__dropdown__me profile__dropdown__icon"></div>
                    <a href='/profile'>Профиль</a>
                </div>
                <div>
                    <div class="profile__dropdown__settings profile__dropdown__icon"></div>
                    <a href='/profile/settings'>Настройки</a>
                </div>
                <div class='profile__dropdown__line'></div>
                <div>
                    <div class="profile__dropdown__logout profile__dropdown__icon"></div>
                    <a href='/logout'>Выйти</a>
                </div>
            </div>
        </div>
    {{else}}
        <div class='header__auth'>
            <a class='btn' href='#login'>Войти</a>
            <a class='btn' href='#register'>Регистрация</a>
        </div>
    {{/if}}
</div>