<header id="header">
    <a class="header__logo">
        <img class="logo" src="/static/img/logo.png" alt="logo">
    </a>
    <div id="header-container" class="header__container">
        <div class="header__main">
            <form class="header__search" onsubmit="return false;">
                <input type="text" id="search" name="search" placeholder="Поиск...">
            </form>
            <nav class="header__nav">
                <ul id="header-list">
                        {{#each this.navItems}}
                            <li class="item {{#if this.active}}active{{/if}}">
                                <a class="data-href" href="{{this.href}}" data-section="{{@key}}">
                                    <img src="{{this.icon}}">
                                    <span>{{this.text}}</span>
                                </a>
                            </li>
                        {{/each}}
                </ul>
                <ul id="dropdown-menu" class="hidden-items-grid hide-grid"></ul>
            </nav>
        </div>
    </div>
    <div class="header__profile">
        <img class="profile__img" src="/static/img/no-avatar.svg" alt="profile">
        <div class="profile__dropdown">
            <span class="profile__user">{{this.user}}</span>
            <a href="#" style="cursor: not-allowed;">Профиль</a>
            <a href="#" style="cursor: not-allowed;">Настройки</a>
            <a href="#" data-action="logout">Выйти</a>
        </div>
    </div>
</header>

